$font-raleway : "Raleway", cursive;
$font-rubic : "Rubic", cursive;
$font-shippori : "Shippori", cursive;

$color-primary: #c76037;
$color-secondary: rgb(10, 10, 172);
$color-yellow: rgb(133, 133, 7); 